body {
    margin: 0;
    padding: 0;
}

a.links{
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    padding: 15px;
    margin: 0 10px;
    font-weight: bold;
    z-index: 10;
    
}

a.link:hover{
    color: #42d153;
}

a.links::before, a.links::after{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.4s ease 0s;
    z-index: -1;
}

a.links::before{
    top: 0;
}

a.links::after{
    top: 100%
}

a.links:hover::before{
    transform: rotate(-45deg);
    top: 50%
}


.glitch {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(snow.JPG);
    background-size: cover;
}

.glitch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(snow.JPG);
    background-size: cover;
    opacity: 0.5;
    /*mix-blend-mode: hard-light;*/

}

.glitch:hover:before {
    animation: animate .2s infinite;
}

@keyframes animate {
    0% {
          background-position: 0 0;
          filter: hue-rotate(0deg);
    }
    10% {
          background-position: 4px 0;
    }
    20% {
          background-position: -4px 0;
    }
    30% {
          background-position: 12px 0;
    }
    40% {
          background-position: -16px 0;
    }
    50% {
          background-position: -24px 0;
    }
    60% {
          background-position: -52px 0;
    }
    70% {
          background-position: 0 22px;
    }
    80% {
          background-position: -40px -10px;
    }
    100% {
          background-position: 0 0;
          filter: hue-rotate(360deg);
    }
}